{% extends 'templates/app.twig' %}
{% block title %}{{ __t('Home') }}{% endblock %}
{% block head %}{% endblock %}
{% block script %}
    <script>
        function openImage(day) {
            const dayString = day < 10 ? '0' + day : day;
            const wrapElement = document.getElementById(`wrap-day-${day}`);
            const imgElement = document.getElementById(`img-day-${day}`);
            const btnElement = document.getElementById(`btn-day-${day}`);
            btnElement.classList.add('d-none');
            imgElement.src = `/image/${dayString}?size=preview`;
            setTimeout(() => {
                wrapElement.classList.remove('invisible');
            }, 200);
        }

        function modalImage(day) {
            const dayString = day < 10 ? '0' + day : day;
            const imgElement = document.getElementById(`modal-image`);
            const headerElement = document.getElementById(`modalHeader`);
            const dlElement = document.getElementById(`modal-dl`);
            imgElement.src = `/image/${dayString}?size=full`;
            headerElement.innerHTML = `{{ __t('Day') }} ${day}`;
            dlElement.href = `/image/${dayString}?size=orig&action=download`;
        }
    </script>
{% endblock %}
{% block content %}
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="modalHeader" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modalHeader">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ __t('Close') }}" title="{{ __t('Close') }}"></button>
                </div>
                <div class="modal-body text-center">
                    <img id="modal-image" src="" alt="" style="max-height: 100%; max-width: 100%;">
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-primary mx-auto" id="modal-dl"><i class="bi-download"></i> {{ __t('Download') }}</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Content -->
    <div class="container text-center mb-4">
        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 row-cols-xxl-4 gy-3">
            {% for day in 1..24 %}
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body" style="height: 15rem;">
                        <h5 class="card-title">{{ __t('Day')}} {{ day }}</h5>
                        {% if data[day]['isReleased'] %}
                            {% if opened[day] %}
                                {% set visbility, src = '', '/image/' ~ ("%02d"|format(day)) ~ "?size=preview"%}
                            {% else %}
                                <button id="btn-day-{{ day }}" class="btn btn-outline-success mt-5" onclick="openImage({{ day }})"><i class="bi-door-open"></i> {{ __t('Open') }}</button>
                                {% set visibility='invisible' %}
                                {% set src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=' %}
                            {% endif %}
                            <div id="wrap-day-{{ day }}" class="{{ visibility }}">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="modalImage({{ day }})">
                                    <img id="img-day-{{ day }}" src="{{ src }}" alt="" class="rounded-1">
                                </a>
                            </div>
                        {% else %}
                            <div class="text-center pt-5 text-danger">
                                <i class="bi bi-calendar2-x display-4" title="{{ __t('Door will open on') }} {{ data[day]['ts']|date(__t('Y-m-d')) }} ({{ data[day]['diffString'] }} {{ __t(data[day]['diffString'] == '1' ? 'day' : 'days') }})"></i>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
